<form action="Create" class="new-cupcake">
    <label for="new-name">Name:</label>
    <input type="text" name="new-name" />
    <br />
    <label for="new-description"> Description:</label>
    <input type="text" name="new-description" />
    <br />
    <label for="new-price">Price:</label>
    <input type="number" name="new-price" />
    <br />
    <label for="new-cake"> Cake:</label>
    <input type="text" name="new-cake" />
    <br />
    <label for="new-frosting"> Frosting:</label>
    <input type="text" name="new-frosting" />
    <br />
    <label for="new-topping"> Topping:</label>
    <input type="text" name="new-topping" />
    <br />
    <label for="new-inventory"> Inventory:</label>
    <input type="number" name="new-inventory" />
    <br />
    <label for="new-image"> Image Url:</label>
    <input type="text" name="new-image" />
    <br />
    <button type="submit">Submit</button>
</form>

