
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
    <form action="Create" class="new-cupcake">
        <label for="newName">Name:</label>
        <input type="text" name="newName" />
        <br />
        <label for="newDescription"> Description:</label>
        <input type="text" name="newDescription" />
        <br />
        <label for="newPrice">Price:</label>
        <input type="number" name="newPrice" />
        <br />
        <label for="newCake"> Cake:</label>
        <input type="text" name="newCake" />
        <br />
        <label for="newFrosting"> Frosting:</label>
        <input type="text" name="newFrosting" />
        <br />
        <label for="newTopping"> Topping:</label>
        <input type="text" name="newTopping" />
        <br />
        <label for="newInventory"> Inventory:</label>
        <input type="number" name="newInventory" />
        <br />
        <label for="newImage"> Image Url:</label>
        <input type="text" name="newImage" />
        <br />
        <button type="submit">Submit</button>
    </form>
