<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Suggestions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="~/js/scripts.js"></script>
</head>
<body>
@model IEnumerable<GitTrio.Models.Cupcake>

<h1> Cupcakes</h1>

@foreach (var cupcake in Model)
{
    <p class="click-details" id="@cupcake.Id">
        @Html.DisplayFor(modelCupcake => cupcake.Name)
    </p>
}


<h2> Display details</h2>
<div class="return-details"></div>

<div id="click-create">Add cupcake to inventory</div>
<div class="return-create">
</div>


</body>
</html>